

.subscribe-button {
    background-color: rgb(194, 17, 17);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.subscribe-button:hover {
    opacity: 0.7;
}

.subscribe-button:active {
    opacity: 0.4;
}

.join-button {
    background-color: white;
    color: rgb(5, 29, 163);
    cursor: pointer;
    border-color: rgb(5, 29, 163);
    border-style: solid;
    border-width: 1px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    transition: background-color 1s, color 1s;

}

.join-button:hover {
    background-color: blue;
    color: white;
}

.join-button:active {
    opacity: 0.5;
}

.tweet-button {
    background-color: rgb(26, 93, 218);
    color: white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.request-now-button {
    background-color: black;
    color: white;
    height: 36px;
    border: none;
    margin-left: 8px;
    width: 100px;
    font-size: 12px;
}

.add-to-cart {
    background-color: yellow;
    height: 30px;
    border: none;
    margin-top: 5px;
    width: 140px;
    border-radius: 15px;
    cursor: pointer;
}

.sign-up-button {
    background-color: rgb(49, 129, 49);
    color: white;
    height: 30px;
    margin-left: 8px;
    width: 85px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.get-started-button {
    background-color: purple;
    color: white;
    height: 35px;
    border: none;
    margin-left: 8px;
    margin-top: 3px;
    width: 90px;
    border-radius: 3px;
}

.download-button {
    color: black;
    height: 36px;
    border-color: rgb(22, 1, 1);
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color 1s;

}

.download-button:hover {
    background-color: black;
    color: white;
}

.download-button:active {
    opacity: 0.5;
}

.save-button {
    height: 36px;
    width: 80px;
    border-color: rgb(71, 71, 243);
    color: rgb(56, 56, 236);
    border-radius: 18px;
    border-style: solid;
    font-weight: bold;
    cursor: pointer;
}

